name: Release
on:
  workflow_dispatch:
    inputs:
      version:
        required: true
        description: Version number
jobs:
  tag:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: git tag ${{ github.event.inputs.version }}
      - run: git push origin ${{ github.event.inputs.version }}

